$font_heebo: 'Heebo', sans-serif;
$font_color: #21243D;
$font_color_secondary: #8695A4;

$color_primary: #FF6464;
$color_primary_hover:#E93E3E;
$color_secondary:#EDF7FA;
$color_link: #00A8CC;
$color_link_active: #f55252;
$color_year_primary: #FF7C7C;
$color_year_secondary: #142850;

$display_mobile: 'max-width: 700px';
$display_medium: 'max-width: 900px';