$font_heebo: "Heebo", sans-serif;
$font_color: #21243d;
$font_color_secondary: #8695a4;

$color_primary: #ff6464;
$color_primary_hover: #e93e3e;
$color_secondary: #edf7fa;
$color_link: #00a8cc;
$color_link_active: #f55252;
$color_year_primary: #ff7c7c;
$color_year_secondary: #142850;

$display_mobile: "max-width: 700px";
$display_medium: "max-width: 900px";
