%font_montserrat {
    font-family: "Montserrat", sans-serif;
}

%font_sans {
    font-family: "Open Sans", sans-serif;
}

$color_dark: #363838;
$color_secondary: #5a5a5a;
$color_bg_secondary: #dfdfdf;
$color_text_secondary: #a1a1a1;
$color_text_dimm: #707070;
